body{
	background:url(../images/bg.jpg);
	-webkit-background-size: cover;
	     -o-background-size: cover;
	        background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center center;
}